@import './transition';
@import './element-plus';
@import './sidebar';
@import './dark';

:root {
  --pure-transition-duration: 0.3s;
}

.html-grey {
  filter: grayscale(100%);
}

.html-weakness {
  filter: invert(80%);
}

.main {
  padding: 20px;
}

.loading_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotateAnimation 0.5s linear infinite;

  & > * {
    width: 20px;
    height: 20px;
  }
}

@keyframes rotateAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
