@import './transition';
@import './element-plus';
@import './sidebar';
@import './dark';

:root {
  --pure-transition-duration: 0.3s;
}

.html-grey {
  filter: grayscale(100%);
}

.html-weakness {
  filter: invert(80%);
}

.main {
  padding: 20px;
}